body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
}

.header {
display: flex;
background-color: black;
color: white;
align-items: center;
justify-content: space-around;
gap: 950px;
padding: 20px 170px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.left img {
display: flex;
flex-shrink: 1;
max-width: 50px;
max-height: 50px;
align-self: center;

}

.left h3 {
    font-size: 25px;
    font-weight: bold;
}

.header .left {
display: flex;
gap: 10px;
}

.header .right {
display: flex;
align-content: space-between;
gap: 30px;
font-weight: bolder;
}

.content1 {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px 170px;
    gap: 300px;
}

.content1 .container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    line-height: 20px;
    line-height: 20px;
}

.content1 h1 {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.content1 p {
    display: flex;
    font-size: 18px;
}

.content1 button {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    color: white;
    background-color: orange;
    border-radius: 8px;
    padding: 10px;
}

.content1 img {
    display: flex;
    max-width: 1300px;
    max-height: 450px;
    padding-bottom: 100px;
}

.content2 {
    display: flex;
    background-color: orange;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.content2 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    margin-top: -30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.content2 h2 {
    display: flex;
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.content2 img {
    display: flex;
    max-width: 100px;
    max-height: 100px;
    margin-top: -60px;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 2px;
    padding: 2px;
    align-items: center;
}

.card h6 {
    display: flex;
    font-weight: 600;
    width: 100px;
    height: 100px;
    font-size: 30px;
    align-self: center;
    justify-content: center;
}

.card p {
    display: flex;
    font-weight: 600;
    width: 200px;
    height: 200px;
    font-size: 18px;
    padding-top: 20px;
}